* {
  box-sizing: border-box;
  font-family: Arial, Calibri, sans-serif;
}

header {
	position: relative;
	text-align: center;
	font-family: Arial, Calibri, sans-serif;
	font-size: 1.5625em;
	width: 100%;
	background-color: #f1f1f1;
}
.static {
	position: static;
}
header h2 {
	margin-top: 0;
	position: relative;
	right: 15px;
	opacity: 1;
}

header {
	background-color: rgba(0,0,0,0);
	z-index: 7;
}

body {
	margin: 0;
	background-color: #ffe0ff;
	height: 100%;
	background-color: #ffe0ff;
	z-index: 0;
}

body h1 {
	font-family: Arial, Calibri, sans-serif;
}

body h2 {
	font-family: Arial, Calibri, sans-serif;
}

body h3 {
	font-family: Arial, Calibri, sans-serif;
}

body h4 {
	font-family: Arial, Calibri, sans-serif;
}

body h5 {
	font-family: Arial, Calibri, sans-serif;
}

body h6 {
	font-family: Arial, Calibri, sans-serif;
}

body p {
	font-family: Arial, Calibri, sans-serif;
}

body pre {
	font-family: "Lucida Console", Monaco, monospace;
}
.parallax {
	height: 30%;
	width: 100%;
    background: url("images/parallax4.png");
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}
.logo {
	margin: 0;
	padding: 0;
	float: center;
	vertical-align: middle;
}
.row {
	display: flex;
	flex: 70%;
	width:70%;
	flex-wrap: wrap;
	position: absolute;
	background-color: #ffe0ff;
	z-index: 6.85;
	padding-left: 2%;
}
embed {
	margin-top: 0;
	margin-right: 0;
}
#navbar {
	z-index: 10000000000000000000000000000000000;
}
.side {
	background-color: #f1f1f1;
	padding: 20px;
	flex: 30%;
	height: 100%;
	z-index: 10000000000000000000000;
	float: right;
}
hr {
	margin-top: 5%;
	margin-bottom: 5%;
}
.main {
	flex: 70%;
	padding: 20px;
	z-index: 6;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
	font-size: 1.025em;
	border: none;
	outline: none;
	color: #666;
	padding: 14px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown .dropbtn a {
	border: none;
	outline: none;
	color: #666;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
	text-decoration: none;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content li a {
  float: none;
  color: black;
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content li a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

nav {
	overflow: hidden;
	z-index: 9999999999999999999;
}

nav ul {
	list-style-type: none;
	z-index: 9999999999999999999;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e3e3e3;
	color: #f2f2f2;
	text-decoration: none;
}

nav ul li {
	float: left;
	z-index: 9999999999999999999;
}

nav ul li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #d3d3d3;
}

#active {
	color:#fff6f6 ;
	background-color: #4CAF50;
}

embed {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
	fixed-height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999999999999999;
}

.sticky + .content {
  padding-top: 60px;
  z-index: 9999999999999999999;
}

#fixnavbar {
  width: 100%;
}